build/
obj-*/
out/
.cache/
.idea/
.vscode/
.tmp/
runs/
.git/
*.deb
*.dsc
*.changes
*.buildinfo
*.debian.tar.*
*.orig.tar.*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/lofibox/
clockworkpi-kernel_*.deb
kanshi-uconsole-config
labwc-rc.xml
uconsole-config.txt
check-browsers.sh
verify-browsers-removed.sh
