# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Type=Application
Name=LoFiBox
GenericName=Music Player
Comment=Compact music player
Exec=/usr/lib/lofibox/lofibox-applaunch
Icon=share/images/lofibox.png
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=music;audio;player;lofi;
StartupNotify=true
StartupWMClass=lofibox
X-Zero-AppId=io.github.vicliu624.lofibox
X-Zero-Display=wayland
